body, main, html{
    width: 100%!important;
    overflow-x: hidden;
}
#slider  h2{
    font-size: 50px;
    }
    #slider p{
        font-size: 30px;
    }
    /* .pages-top{
        margin: 65px;
    } */
     .category-item{
        margin-bottom: 30px;
    }
    .text-logo{
        font-size: 25px;
        font-weight: 700;
        color: #000!important;
    }
    .text-logo-footer{
        font-size: 25px;
        font-weight: 700;
        color: #fff!important;
    }
    .text-logo > span, .text-logo-footer >span{
        color: red;
    }
    .search{
        border: 1px black solid;
    }
    .img{
      width: 40px;
    }
    .slide-image{
      height: 600px;
      width: 100%;
    }
    #courses, #categories{
        padding: 20px;
    }
    #info{
      padding: 20px;
      background-color: #EB88F9;
    }
    .media-body{
        padding: 10px;
        font-size: 15px;
        color: #fff;
    }
    .slide-text{
      margin-bottom: 120px;
    }
    .outer-card{
        padding: 2px!important;
    }
    .card-courses{
        padding: 10px;
        background-color: #EEF0F1;
        border-radius: 0px;
    }
    .imged{
        height: 100px;
    }
    .img-course{
        width: 100px;
    }
    .ignitor{
        width: 200px!important;
    }
    .react{
        width: 140px!important;
    }
    .cake-php{
        width: 130px!important;
    }
    .flask{
        margin-top: 25px;
        width: 130px!important;
    }
    .maya{
        margin-top: 25px;
        width: 150px!important;
    }
    .unreal{
        width: 80px!important;
    }
    .checked{
        color:orange;
    }
    .text-small{
        font-size: 10px;
    }
    .text-small-1{
        font-size: 12px;
    }
    .margin-section{
        margin: 30px;
    }
    .margin-section-1{
        margin: 63px;
    }
    #footer{
        background-color: #000;
        padding: 20px;
        color: #fff;
    }
    #footer a{
        color: #fff;
    }