<template>
    <span>
        <b-navbar-nav class="navbar-nav sign-buttons">
           <li>
             <a href="#" @click="$bvModal.show('bv-modal-signup')" class="nav-link hvr-push sign-up">Sign Up</a>
           </li>
            <li>
                <a href="#" @click="$bvModal.show('bv-modal-signin')" class="nav-link hvr-push login">Log In</a>
            </li>
        </b-navbar-nav>
               
           
        <!-- signup modal -->
        <b-modal size="md" id="bv-modal-signup" data-backdrop='false' hide-footer>
            <template slot="modal-title">
                Sign Up and start learnig !
            </template>
            <div class="d-block text-center">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="form-group">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-user"></i>
                                </b-input-group-prepend>
                                <b-form-input type="text" placeholder="Full Name"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="form-group">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-envelope"></i>
                                </b-input-group-prepend>
                                <b-form-input type="email" placeholder="Email"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="form-group">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-lock"></i>
                                </b-input-group-prepend>
                                <b-form-input type="password" placeholder="Password"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="form-group">
                            <b-form-checkbox
                                id="checkbox-1"
                                v-model="status"
                                name="checkbox-1"
                                value="accepted"
                                unchecked-value="not_accepted"
                                >
                                Yes! I want to create my website
                            </b-form-checkbox>
                        </div>
                        <div class="col text-center">
                             <b-button variant="danger">Sign Up</b-button>
                        </div><br><br>
                        <div class="col-md-12">
                            <p class="terms-text"><small>By signing up you agree to our Terms of Use and Privacy Policy</small></p><hr>
                        </div>
                       
                        <div class="col-md-12">
                            <p><a class="login-link" @click="openLoginModal()" href="#">Already Have Account? Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
           
        </b-modal>


        <!-- sign in modal -->
         <b-modal size="md" id="bv-modal-signin" data-backdrop='false' hide-footer>
            <template slot="modal-title">
                Welcome back, Login !
            </template>
            <div class="d-block text-center">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="form-group">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-envelope"></i>
                                </b-input-group-prepend>
                                <b-form-input type="email" placeholder="Email"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="form-group">
                            <b-input-group>
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-lock"></i>
                                </b-input-group-prepend>
                                <b-form-input type="password" placeholder="Password"></b-form-input>
                            </b-input-group>
                        </div>
                        <div class="col text-center">
                             <b-button variant="danger">Sign In</b-button>
                        </div><br><br>
                       
                        <div class="col-md-12">
                            <p><a class="login-link" @click="openSignUpModal()" href="#">Don't have account? Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
           
        </b-modal>

    </span>
   
</template>

<script>
export default {
    name : 'SignUpModal',
    methods: {
        openLoginModal(){
            this.$bvModal.hide('bv-modal-signup')
            this.$bvModal.show('bv-modal-signin')
        },
        openSignUpModal(){
            this.$bvModal.hide('bv-modal-signin')
            this.$bvModal.show('bv-modal-signup')
        }
    }
}
</script>

<style scoped>
  .navbar a.login{
        color: #fff!important;
    }
    .login{
     background-color: red;
    }
    .sign-up{
        background-color: #fff;
        color: black!important;
    }
    .sign-buttons li{
        padding: 0px 0px 5px 10px;
    }
    #bv-modal-signup{
        background-color: #EEF0F1!important;
    }
    .terms-text{
        font-size: 13px;
    }
    .login-link{
        color: #000;
    }

   
</style>
