<template>
   <div class="pages-top">
    <div class="margin-section-1"></div>
    <section id="breadcrumb">
        <div class="container-fluid hvr-bubble-float-right">
            <b-breadcrumb>
                <b-breadcrumb-item href='#'>Coding</b-breadcrumb-item>
                <b-breadcrumb-item href="#">Web Development</b-breadcrumb-item>
                <b-breadcrumb-item active="true">Laravel</b-breadcrumb-item>
            </b-breadcrumb>
        </div>
    </section>
    <section id='banner'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 top">
                    <h1 class="h1 topp">The complete react class</h1>
                    <p class="topp-text">The most advanced react native class</p>
                </div>
                <div class="col-md-12 top">
                    <div class="row text-small-2">
                        <div class="col-md-12">
                            <span class="text hvr-buzz">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                            <span class="text">
                                <span><small>$200 </small>&nbsp;&nbsp;&nbsp;  ($10)</span>
                            </span> 
                        </div>
                        <div class="col-md-12">
                           <p>Created by Helen E Shinn</p>
                        </div>
                    </div><br>
                </div>
                </div>
                <!-- card float -->
                <div class="col-md-5">
                     <div class="card floating-card  hvr-float">
                        <div class="card-header text-center">
                            <img class="img-responsive" width="300" :src="require('@/assets/images/580ffd26ccaa16481ed87c1829c74943.png')" alt="">
                        </div>
                        <div class="card-body boddy-text ">
                            <div class="row">
                                <div class="prize col-md-4">
                                    $10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div> 
                                <div class="col-md-8">
                                    <small class="small"> $100 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 90% off</small>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn add-cart btn-danger">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center ">
                            <p><b>Share via:</b></p>
                            <span class="social">
                                <a href="#">
                                    <img width="50" :src="require('@/assets/images/a66cef2280040a2ae480cd2dd2dec1e1.png')" alt="facebook">
                                </a>
                                <a href="#">
                                    <img width="50" :src="require('@/assets/images/ec7ae93ce9dce618ed04ef15a9769ae3.png')" alt="twitter">
                                </a>
                                <a href="#">
                                    <img width="50" :src="require('@/assets/images/ace67a0a7e4b0d8173ab318ad65e7516.png')" alt="email">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='vcardd'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-holder ">
                                <div class="text-in-card ">
                                    <p>What will I learn?</p>
                                    <p>-Lorem ipsum is simply dummy text for the printingand typsetting industry</p>
                                    <p>-Lorem ipsum is simply dummy text for the printingand typsetting industry</p>
                                    <p>-Lorem ipsum is simply dummy text for the printingand typsetting industry</p>
                                </div>
                            </div>
                        </div>
                        <!-- floting stuff -->
                        <div class="col-md-5">
                           <!-- flots -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix margin-section"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="h4">About the fellow</h4>
                    <br>
                </div>
                <div class="col-md-6 hvr-grow-rotate">
                    <div class="row">
                        <div class="col-md-4">
                            <img width="100" :src="require('@/assets/images/b7ab59933c57b74992b212d540c29d9c.png')" alt="about image">
                        </div>
                        <div class="col-md-8">
                            <h4 class="h4">Helen E Shibb</h4>
                            <p class="about-text">Web Deeveloper, Designer and Teacher
                                <br> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="category-item">
				<div class="category category-header col-md-12">
					<h3>IN THE SAME TOPIC</h3>
				</div>
				<div class="col-md-12 category-body offset-md-1">
					<div class="row">
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course react" :src="require('@/assets/images/580ffd26ccaa16481ed87c1829c74943.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											4.7(1,435)
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small>  ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course" :src="require('@/assets/images/bdcb79a5afd01cfcaf73cfc898b3b36e.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											4.7(1,435)
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course ignitor" :src="require('@/assets/images/bc00c689b1d0cbb2fea8b636187474f6.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->	
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course cake-php" :src="require('@/assets/images/725018e846da669d4222e387aceb620a.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>	
						<!-- end of column-->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course flask" :src="require('@/assets/images/3aee85149243df385c21453cc0166a23.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						</div>
				</div>
			</div>
                </div>
            </div>
        </div>
    </section>
       
    </div>
</template>
<script>
export default {
    name : 'Course'
}
</script>
<style scoped>
#breadcrumb{
    background-color: #E9ECEF;
    padding: 15px;
}
b-breadcrumb-item {
    color: #fff!important;
}
#banner{
    background-color: #1A1A1A;
    margin-top: -20px!important;
    /* height: 400px; */
}
.top{
    padding: 40px;
    color: #fff;
}
.topp{
    font-weight: 700;
}
.topp-text, .text-small-2{
font-size: 30px;
}
.text-in-card p{
    padding: 5px;
    font-size: 25px;
}
#vcardd{
    padding-top: 15px;
}
.card-header, .card-body{
    border: 1px solid black;
    background-color: #fff;
}
.card-holder{
    border: 1px solid black;
    border-radius: 0px;
}
.boddy-text{
    font-size: 30px;
    padding-left: 20px;
}
.boddy-text .small{
    color: #808080;
}
.add-cart{
    padding: 5px 25px 5px 25px;
    border-radius: 0px;
    background-color: red;
}
 @media only screen and (min-width: 960px) {
       .floating-card{
           position: absolute;
           margin-top: 170px;
    }
}

</style>


