<template>
  <div class="hello">

    <main role="main">
		
      <section id="slider">
        <b-carousel
          id="carousel-1"
          v-model="slide"
          :interval="8000"
          controls
          indicators
          background="#ababab"
          style="text-shadow: 1px 1px 2px #333;"
        >
          <b-carousel-slide>
              <img
                  slot="img"
                  class=" slide-image "
                  :src="require('@/assets/images/d234516f537e76c2e8fbd1cc1d82cfe2.png')"
                  alt="image slot"
                >
             <div class="row text-left hvr-wobble-skew">
                <div class="col-md-12 slide-text align-self-center">
                    <h2 class="head-main">Learn Everything </h2>
                    <p>Study what you want, explore for free</p>
                </div>
            </div>
          </b-carousel-slide>
          <b-carousel-slide>
              <img
                  slot="img"
                  class=" slide-image "
                  :src="require('@/assets/images/d234516f537e76c2e8fbd1cc1d82cfe2.png')"
                  alt="image slot"
                >
             <div class="row text-left hvr-wobble-bottom">
                <div class="col-md-12 slide-text align-self-center">
                     <h2 class="head-main">Learn Everything </h2>
                    <p>Study what you want, explore for free</p>
                </div>
            </div>
          </b-carousel-slide>
          <b-carousel-slide>
              <img
                  slot="img"
                  class=" slide-image "
                  :src="require('@/assets/images/d234516f537e76c2e8fbd1cc1d82cfe2.png')"
                  alt="image slot"
                >
             <div class="row text-left hvr-wobble-skew">
                <div class="col-md-12 slide-text align-self-center">
                     <h2 class="head-main">Learn Everything </h2>
                    <p>Study what you want, explore for free</p>
                </div>
            </div>
          </b-carousel-slide>
        
        </b-carousel>
      </section>
      
      <section class="c" id="info">
        <div class="row text-left">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="media col-md-8">
				<div class="pull-left align-self-center">
					<img :src="require('@/assets/images/2ee7bcddaf761b3a83094f9cecf86b16.png')" class="img img-responsive" alt="img">
				</div>
				<div class="media-body align-self-center">
					<p>this is a holder message . very awesome piece of stuff </p>
				</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="media col-md-8">
				<div class="pull-left align-self-center">
					<img :src="require('@/assets/images/4b96616cf36301211d80d668d0e5a2c4.png')" class="img img-responsive" alt="img">
				</div>
				<div class="media-body align-self-center">
					<p>this is a holder message . very awesome piece of stuff </p>
				</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-6">
				<div class="media col-md-8">
				<div class="pull-left align-self-center">
					<img :src="require('@/assets/images/2dc5093665060b8a2d56e651c0804974.png')" class="img img-responsive" alt="img">
				</div>
				<div class="media-body align-self-center">
					<p>this is a holder message . very awesome piece of stuff </p>
				</div>
				</div>
			</div>

		</div>
    </section>
    <div class="clearfix margin-section"></div>
    <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 offset-md-3 content-center">
                    <b-nav align='center' pills>
                        <b-nav-item link-classes='navv-items hvr-underline-from-left nav-active' active-class="nav-active" >Coding</b-nav-item>
                        <b-nav-item link-classes='navv-items hvr-underline-from-left'>Gaming</b-nav-item>
                        <b-nav-item link-classes='navv-items hvr-underline-from-left'>3D</b-nav-item>
                    </b-nav>
                </div>
              </div>
          </div>
      </section>
	<div class="clearfix margin-section"></div>
	<section id="courses">
		<div class="container-fluid">
			<div class="row featurette">
			<div class="col-md-4 align-self-center">
				<p class="lead">the most porpular selection of courses <br> choose everything is free </p>
			</div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-lg-3 outer-card col-sm-4 col-md-4">
						<div class="card-courses card">
							<div class="imged text-center">
								<img class="img-course react" :src="require('@/assets/images/580ffd26ccaa16481ed87c1829c74943.png')" alt="">
							</div>
							<div class="text">
								<div class="text-small-1">
									<p>The complete react class <br> John Doe</p>
								</div>
								<div class="row text-small">
									<div class="col-md-6 col-sm-6">
										<span class="fa fa-star checked"></span>
									
                                    	<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="col-md-5 col-sm-5">
										4.7(1,435)
									</div>
								</div><br>
								<div class="float-right text-small">
									<span><small>$200 </small>  ($10)</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end column -->
					<div class="col-lg-3 outer-card col-sm-4 col-md-4">
						<div class="card-courses card">
							<div class="imged text-center">
								<img class="img-course" :src="require('@/assets/images/bdcb79a5afd01cfcaf73cfc898b3b36e.png')" alt="">
							</div>
							<div class="text">
								<div class="text-small-1">
									<p>The complete react class <br> John Doe</p>
								</div>
								<div class="row text-small">
									<div class="col-md-6 col-sm-6">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="col-md-5 col-sm-5">
										4.7(1,435)
									</div>
								</div><br>
								<div class="float-right text-small">
									<span><small>$200 </small> ($10)</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end column -->
					<div class="col-lg-3 outer-card col-sm-4 col-md-4">
						<div class="card-courses card">
							<div class="imged text-center">
								<img class="img-course ignitor" :src="require('@/assets/images/bc00c689b1d0cbb2fea8b636187474f6.png')" alt="">
							</div>
							<div class="text">
								<div class="text-small-1">
									<p>The complete react class <br> John Doe</p>
								</div>
								<div class="row text-small">
									<div class="col-md-6 col-sm-6">
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="col-md-5 col-sm-5">
										<!-- 4.7(1,435) -->
									</div>
								</div><br>
								<div class="float-right text-small">
									<span><small>$200 </small> ($10)</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end column -->
				</div>
				
			</div>
			</div>
		</div>
	</section>
    <div class="clearfix margin-section"></div>
    <section id='categories' >
		<div class="container-fluid">
			<div class="category-item">
				<div class="category category-header col-md-12">
					<h3>Coding</h3>
				</div>
				<div class="col-md-12 category-body offset-md-1">
					<div class="row">
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course react" :src="require('@/assets/images/580ffd26ccaa16481ed87c1829c74943.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											4.7(1,435)
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small>  ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course" :src="require('@/assets/images/bdcb79a5afd01cfcaf73cfc898b3b36e.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											4.7(1,435)
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course ignitor" :src="require('@/assets/images/bc00c689b1d0cbb2fea8b636187474f6.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->	
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course cake-php" :src="require('@/assets/images/725018e846da669d4222e387aceb620a.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>	
						<!-- end of column-->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course flask" :src="require('@/assets/images/3aee85149243df385c21453cc0166a23.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						</div>
				</div>
			</div>
            <!-- end of item -->
            <div class="category-item">
				<div class="category category-header col-md-12">
					<h3>Gaming</h3>
				</div>
				<div class="col-md-12 category-body offset-md-1">
					<div class="row">
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course flask" :src="require('@/assets/images/74feb7f46da3a3ddfc0eb03d0e47a5cc.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small>  ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course unreal" :src="require('@/assets/images/b0b6fa08c7312bf2a7d5b07238e2fa91.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											4.7(1,435)
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course maya" :src="require('@/assets/images/9d0c2d1adc78f6441cc586604dd8e8ee.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->	
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card">
								<div class="imged text-center">
									<img class="img-course " :src="require('@/assets/images/d34367fddc0e94d507fa9fbdd18088b3.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>	
						<!-- end of column-->
						<div class="col-lg-2 outer-card col-sm-4 col-md-3">
							<div class="card-courses card" >
								<div class="imged text-center">
									<img class="img-course unreal" :src="require('@/assets/images/e8460f0d8b9df01e9460bfd1ade0e8c8.png')" alt="">
								</div>
								<div class="text">
									<div class="text-small-1">
										<p>The complete react class <br> John Doe</p>
									</div>
									<div class="row text-small">
										<div class="col-md-6 col-sm-6">
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="col-md-5 col-sm-5">
											<!-- 4.7(1,435) -->
										</div>
									</div><br>
									<div class="float-right text-small">
										<span><small>$200 </small> ($10)</span>
									</div>
								</div>
							</div>
						</div>
						<!-- end column -->
						</div>
				</div>
			</div>
		</div>
	</section>           
    
    </main>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav-active{
    background-color: #fff!important;
    border-bottom: 3px red solid;
}
.navv-items{
    color: #000;
    font-weight: 600;
    border-radius: 0px;
}


</style>
