<template>
<div>
    <header>
        <b-navbar class="navbar" fixed='top' toggleable="lg" >
            <b-navbar-brand href="#" class="col-md-2 navbar-brand hvr-wobble-to-bottom-right text-logo"><span>t</span>utomalix</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" class="col-md-10" is-nav>
                <b-navbar-nav class="col-md-2">
                    <b-nav-item class="link-navs" href="#">Categories</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav class="col-md-4">
                     <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" placeholder="Search for Tutorials"></b-form-input>
                    <!-- <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button> -->
                    </b-nav-form>
                </b-navbar-nav>

                <b-navbar-nav class="col-md-4">
                    <b-nav-item class="link-navs" href="#"><span> tutomix for business</span></b-nav-item>
                    <b-nav-item class="link-navs" href="#"><span>become an instructor</span></b-nav-item>
                </b-navbar-nav>
                <div class="col-md-3">
                    <SignUpModal></SignUpModal>
                </div>
            </b-collapse>
        </b-navbar>
    </header>

        <div id="app">
            <router-view/>
        </div>

    <div class="clearfix margin-section"></div>

      <!-- FOOTER -->
    <section id=footer>
        <footer class="container-fluid">
          <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="navbar-brand hvr-wobble-to-bottom-right text-logo-footer"><span>t</span>utomalix</a>
                </div>
                <div class="col-md-4">
                     <p> Copyright &copy; 2018 Udemy, Inc. </p>
                </div>
                <div class="col-md-4">
                    <p class="footer-links float-right">
                        <a href="#">Policy and Cookie Policy</a>  <a href="#">Intelectual Policy </a>
                    </p>
                </div>
            </div>
          </div>

        </footer>
    </section>
</div>
  
</template>

<script>
import SignUpModal from './components/partials/SignUpModal'
export default {
  name: 'App',
  components: {
    SignUpModal
  }
}
</script>

<style scoped>
  .navbar{
        background-color: #5B5B5B!important;
       opacity: 0.8;
  /* filter: alpha(opacity=50); */
    }
    .links a.nav-link, .link-navs span{
        color: #fff!important;
    }
  
</style>
